<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
      <h3 class="panel-title">
        Comments
        <div class='pull-right'><span class="glyphicon glyphicon-collapse-down"></span></div>
      </h3>
    </a>
  </div>
  <div id="collapse3" class="panel-collapse collapse.in">
    <div class="panel-body">
      foo
      </div> <!-- end panel body -->
    <div class="panel-footer">
      <!-- Button trigger AddStepModal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddComment">
        Add Comment
      </button>
    </div> <!-- end panel footer -->
  </div>
</div>
