<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
      <h3 class="panel-title">
          Workers
          <div class='pull-right'><span class="glyphicon glyphicon-collapse-down"></span></div>
      </h3>
    </a>
  </div>
  <div id="collapse1" class="panel-collapse collapse.in">
    <ul class='list-group'>
      <% @project.workers.each do |worker| %>
      <% next if worker.new_record? %>
        <li class="list-group-item">
          <p>
            <strong><%= worker.name %></strong>
            <%= link_to [worker.project, worker],method: :delete,data: { confirm: 'Are you sure?' } do %>
              <span class='glyphicon glyphicon-remove'></span>
            <% end %>
          </p>
          <% if worker.number? %><p><span class="glyphicon glyphicon-phone"></span> <%= worker.number %><% end %></p>
          <% if worker.email? %><p><span class="glyphicon glyphicon-envelope"></span> <%= worker.email %><% end %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="panel-footer">
    <!-- Button trigger AddWorkerModal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddWorker">
      Add Worker
    </button>
  </div>
</div>
