<hr>
<div class="row clearfix" id="footer">
  <div class="col-md-4 column">
  </div>
  <div class="col-md-4 column">
    <p class="text-center text-muted">
      <i>Crafted by</i> <a href="http://nerdspecs.com/" target="_blank">Nerd Specs Creative</a>
    </p>
  </div>
  <div class="col-md-4 column">
  </div>
</div>
